.Card {
  border-left: 1px solid rgba(0,0,0,0.1);
  padding: 0;
  height: 215.92px;
  flex: 0 0 342.4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  box-shadow: 5px, 5px, 5px, 5px, rgba(0,0,0,0.5);
}

.Secret {
  border-left: 1px solid rgba(0,0,0,0.1);
  padding: 0;
  height: 215.92px;
  flex: 0 0 107.96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px, 5px, 5px, 5px, rgba(0,0,0,0.5);
  overflow: hidden;
}
.Secret canvas {
  margin: 0.25em;
}
.Card:first-child {
  border-left: none;
}

.Card .CardBody {
  padding: 0.5em;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;  
}

.did {
  flex: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 6pt;
  color: white;
  padding: 0.5em;
  background-color: #5c50ca;
}
.Bio {
  text-align: left;
  font-size: 8pt;
}
.Bio strong {
  color: #5c50ca;
}
.Blurb {
  text-align: left;
  font-size: 6pt;
  padding: 0.5em;
}
.Blurb h3 {
  color: red;
  margin: 0;
}
.Address .Blurb {
  font-size: 12;
}

.Seed {
  text-align: left;
  font-size: 6pt;
  color: red;
  padding: 0.5em;
}
@media print {
  .Card {
    height: 53.98mm;
    flex: 0 0 85.60mm;
  }
  .Secret {
    height: 53.98mm;
    flex: 0 0 25mm;  
  }
}
